<highcharts-chart
[Highcharts] ="highcharts"
[options] = "chartOptions"
style="width: 100%; height: 400px;display: block;"></highcharts-chart>
<app-basic> </app-basic>
<app-data-label></app-data-label>
<app-time-series></app-time-series>
<app-inverted-axes></app-inverted-axes>
<app-symbol></app-symbol>
<app-plot-bands></app-plot-bands>
<app-basic-pie-chart></app-basic-pie-chart>
<app-pie-chart-legends></app-pie-chart-legends>
<app-donut-chart></app-donut-chart>
<app-basic-bar-chart></app-basic-bar-chart>
<app-stacked-bar></app-stacked-bar>
<app-bar-chart-negative></app-bar-chart-negative>
<app-basic-area-chart></app-basic-area-chart>
<app-inverted-area></app-inverted-area>
<app-percentage></app-percentage>
<app-spline-area></app-spline-area>

